.attributeContainer {
  display: flex;
  justify-content: center;
  height: 44vh;
}

.attributeChart {
  width: 40vh;
  padding: 2vh;
  z-index: 0;
  position: absolute;
}

.valuesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.attributeValuesRow1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.attributeValuesRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 28vh;
}

.attributeValuesRow3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 21vh;
}

.agi {
  z-index: 1;
  color: white;
  font-size: 5vh;
  margin: 6.5vh 0 0 0;
  font-family: 'Special Elite', sans-serif;
}

.forInt {
  z-index: 1;
  color: white;
  font-size: 5vh;
  margin: 3vh 0 0 0vh;
  font-family: 'Special Elite', sans-serif;
}

.preVig {
  z-index: 1;
  color: white;
  margin: 10vh 0 0 0;
  font-size: 5vh;
  font-family: 'Special Elite', sans-serif;
}